@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("./fonts/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2"),
        url("./fonts/Atkinson-Hyperlegible-Regular-102.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("./fonts/Atkinson-Hyperlegible-Bold-102a.woff2") format("woff2"),
        url("./fonts/Atkinson-Hyperlegible-Bold-102.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("./fonts/Atkinson-Hyperlegible-Italic-102a.woff2") format("woff2"),
        url("./fonts/Atkinson-Hyperlegible-Italic-102.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Atkinson Hyperlegible", -apple-system, BlinkMacSystemFont,
        sans-serif;
    font-size: 1.1em;
    min-height: 100%;
}

h1 {
    font-size: 3rem;
}

h4 {
    color: #e6a19c;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-top: 5px;
}

a {
    color: blue;
    text-decoration: none;
    text-decoration-skip-ink: none;
    white-space: nowrap;
    display: block;
}

a:hover {
    color: #9466cc;
    text-decoration: underline 1px blue;
    text-decoration-skip-ink: none;
}

.center {
    text-align: center;
}

.list-item {
    border-bottom: 1px solid #c8c8c8;
}

.top-nav a {
    text-decoration-skip-ink: none;
    background: unset;
}

.top-nav {
    background: #fff;
    padding: 10px;
    position: sticky;
    top: 0;
    text-align: center;
}

.foot {
    color: #000;
    height: 20px;
    font-size: 11px;
}

.article-title a {
    white-space: pre-line;
}

.article-list {
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

@media (min-width: 500px) {
    .article-list {
        margin-left: 1rem;
        text-align: unset;
    }
}

@media (min-width: 720px) {
    a {
        display: unset;
    }

    .list-item {
        display: flex;
    }

    .article-date {
        flex: 1;
    }

    .article-title {
        flex: 2;
    }

    .top-nav {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .article-list {
        margin-left: auto;
        margin-right: auto;
        max-width: 720px;
    }

    .foot {
        color: #000;
        height: 20px;
        font-size: 11px;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
    }
}
