@font-face {
  font-family: 'Inter';
  src: url('./fonts/inter.var.woff2') format('woff2');
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 1.1em;
}

.center {
  text-align: center;
}

.foot {
  color: #000;
  height: 20px;
  font-size: 11px;
}

a {
  color: #3f51b5;
  text-decoration: none;
  white-space: nowrap;
}

.links a {
  margin-right: 5px;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  padding: 2rem;
}

.content h2 {
  text-align: center;
}

.left {
  background-color: #ffffff;
  color: #000;
  flex: 1;
}

.right {
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: -20px;
  min-height: 100%;
}

.profile-image {
  background: url(../assets/me.jpg) no-repeat center;
  background-size: cover;
  background-position-y: -45px;
  height: 300px;
  overflow: hidden;
}

@media (min-width: 400px) {
  .profile-image {
    background-position-y: -35px;
    height: 350px;
  }
}

@media (min-width: 550px) {
  .profile-image {
    background-position-y: -108px;
    height: 400px;
  }
}

@media (min-width: 600px) {
  .links a {
    text-align: left;
    margin-right: 5px;
  }

  .content {
    padding: 1rem;
    text-align: left;
  }

  .content h2 {
    text-align: left;
  }

  .profile-image {
    background-position-y: unset;
    background-position-x: -65px;
    height: 100%;
  }

  .left {
    background-color: #ffffff;
    color: #000;
    flex: 1;
    display: flex;
  }

  .right {
    background-color: #efefef;
    flex: 1;
  }

  .container {
    flex-direction: row;
  }
}

@media (min-width: 800px) {
  .profile-image {
    background-position-y: 0;
    background-position-x: 0;
  }

  .links a {
    margin-right: 10px;
  }

  .content {
    padding: 3rem;
  }

  .container {
    margin-bottom: -50px;
  }
}
