@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("./fonts/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2"),
        url("./fonts/Atkinson-Hyperlegible-Regular-102.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("./fonts/Atkinson-Hyperlegible-Bold-102a.woff2") format("woff2"),
        url("./fonts/Atkinson-Hyperlegible-Bold-102.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("./fonts/Atkinson-Hyperlegible-Italic-102a.woff2") format("woff2"),
        url("./fonts/Atkinson-Hyperlegible-Italic-102.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: "Atkinson Hyperlegible", -apple-system, BlinkMacSystemFont,
        sans-serif;
    margin: 0;
    color: #323d48;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: #9466cc;
    text-decoration: underline 1px blue;
    text-decoration-skip-ink: none;
}

h1 {
    font-size: 2.5rem;
}

.bigger-text {
    font-size: 1.2rem;
}

.flex-container {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
}

.left-box {
    flex: 2;
}

.right-box {
    flex: 1;
}

.box {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.blurb {
    text-align: center;
    margin-bottom: 2rem;
}

.links {
    text-align: center;
    margin-bottom: 1.5rem;
}

.links a {
    margin-left: 5px;
    margin-right: 5px;
}

.profile-img {
    background: url(../assets/mobile-me.jpg) no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 100%;
}

.copyw {
    padding: 10px;
    font-size: 9px;
}

@media (min-width: 500px) {
    h1 {
        font-size: 3.5rem;
    }
    .blurb {
        text-align: center;
    }
}

@media (min-width: 700px) {
    h1 {
        font-size: 3rem;
    }

    .bigger-text {
        font-size: 1.2rem;
    }

    .flex-container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
    }

    .box {
        flex-grow: 1;
        flex: 1;
    }

    .profile-img {
        background: url(../assets/me-big.jpg) no-repeat center;
        background-size: cover;
        height: 100%;
        width: unset;
    }

    .blurb {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        margin-bottom: 30vh;
    }
}

@media (min-width: 920px) {
    h1 {
        font-size: 4.2rem;
    }

    .blurb {
        text-align: unset;
    }
}
