html {
  font-family: monospace;
}

fieldset {
  border: 1px solid #000000;
}

textarea {
  resize: none;
  box-sizing: border-box;
}

button {
  font-family: monospace;
  cursor: pointer;
}

button:disabled {
  cursor: unset;
}

input[type="radio"], input[type="radio"] + label {
  cursor: pointer;
}

input, textarea {
  border: 1px solid #000000;
}

.fieldLabel {
  position: absolute;
  top: -6px;
  left: 24px;
  font-style: italic;
  color: #565656;
  background-color: #ffffff;
}


.fieldContainer {
  position: relative;
}

#input {
  width: 100%;
  height: 75px;
  resize: none;
  padding: 15px;
}

#result {
  width: 100%;
  height: 75px;
  resize: none;
  padding: 15px;
}

pre.codeBlock {
  counter-reset: line;
  background-color: #f1f1f1;
  color: #000000;
}

pre span.line {
  line-height: 1.5rem;
  display: inline-block;
  width: 100%;
}

pre span.line.active {
  background-color: #cfcfcf;
}

pre span.line.active::before {
  background-color: #1515a7;
  color: #ffffff;
}

pre span.line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  background-color: #0000ff;
  color: #a8a8ff;
  text-align: right;
  min-width: 16px;
}

pre span.line:first-child::before {
  padding-top: 1rem;
}

pre span.line:last-child::before {
  padding-bottom: 1rem;
}

.var {
  font-weight: bold;
}

.table {
  min-width: 225px;
}

#table-header {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  margin-right: 10px;
}

#table-body {
  max-height: 80vh;
  overflow-y: scroll;
}

.table-row {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  border-top: 1px solid black;
}

.table-cell {
  font-weight: bold;
  padding: 2px;
}
