/* constants */
html {
  font-family: Avenir Next, sans-serif;
}

body {
  margin: 0;
}

p { margin: 0; }

a { color: #606a6f; }
a:hover { color: #c3d5d8; }

.profile-pic {
  width: 150px;
  border: 1rem solid #606a6f;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.header-1 {
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.squiggle-header {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%235364c0' fill-opacity='0.15'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.footer-link {
  color: #ed9073;
  text-decoration: none;
  font-size: 14px;
}
.footer-link:hover {
  color: #939ed7;
}

/* background and foreground color constants */
.bg-white { background-color: #fff; }
.bg-blue { background-color: #5364c0; }

.fg-red { color: #de6c64; }
.fg-salmon { color: #ed9073; }
.fg-gray-1 { color: #606a6f; }
.fg-light-blue { color: #949fd8; }

/* padding constants */
.p-1 { padding: 1rem; }
.pt-1 { padding-top: 1rem; }
.pt-2 { padding-top: 2rem; }
.pt-4 { padding-top: 4rem; }
.pb-4 { padding-bottom: 4rem; }
.pb-1 { padding-bottom: 1rem; }

/* margin constants */
.m-1 { margin: 1rem; }
.ml-1 { margin-left: 1rem; }
.mr-1 { margin-right: 1rem; }
.mt-1 { margin-top: 1rem; }
.mb-1 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 2rem; }
.mb-4 { margin-bottom: 4rem; }

/* text-related constants */
.text-sm { font-size: 12px; }
.text-center { text-align: center; }
.text-bold { font-weight: 700; }

/* flexbox grid constants */
.grid-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 650px;
  margin: 0 auto;
}
.grid-row .grid-item {
  min-width: 100px;
  min-height: 65px;
  flex: 1;
}
.box-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}


/* media queries for different screen sizes */
/* smallest devices */
@media only screen and (min-width: 140px) {
  .text-5 { font-size: 2rem; }
  .text-2 { font-size: 1rem; }

  .content {
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: justify;
  }
}

/* medium-sized devices */
@media only screen and (min-width: 550px) {
  .content {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    text-align: left;
  }
}

/* largest devices */
@media only screen and (min-width: 768px) {
  .text-5 { font-size: 3rem; }
  .text-2 { font-size: 1.3rem; }
}
